#
# Sample .env file
# Copy this file .env to be picked up by the bot's dotenv call.
#
# *** DO NOT CHECK THE .env FILE INTO GIT! ***
#
PORT=8080
TOKEN=<your discord bot token>
DOCSBOT_SAVE_PATH=<some full path to save json files to>
DOCSBOT_ADMIN_ROLE_NAME="docsbot"
DOCSBOT_LIMIT_CHARS=1000
